*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}


.flex-item{
    flex-basis: 23%;
    margin-bottom: 2%;
    padding: 15px;
    background: #eee;
}

.flex-item h1{
    margin-bottom: 20px;
}

@media (min-width: 52em) AND (max-width: 66em){
    .flex-item{
        flex-basis: 32%;
    }

    .flex-item:nth-child(1){
        flex-basis: 100%;
    }
}

@media(max-width: 52em){
    .flex-item{
        flex-basis: 49%;
    }
}

@media(max-width: 32em){
    .flex-item{
        flex-basis: 100%;
    }
}


/*ELEMENTOR FILHOS*/
/*.flex-item:nth-child(2){
    align-self: center;
}*/

/*.flex-item:nth-child(3){
    order: -1;
}

.flex-item:nth-child(1){
    order: 1;
}*/

/*.flex-item:nth-child(2){
    flex-grow: 2;
}*/

/*.flex-item:nth-child(3){
    flex-shrink: 4;
}*/